.Home{
  display: flex;
  flex-direction: row;

}


.Homeimage{
  display: flex;
  flex-direction: column;
}
.text{
  background-color: rgb(238, 230, 248);
  text-align: center;
  height: 140px;
  color: rgb(189, 95, 226);
  font-family: Arial, Helvetica, sans-serif;

}
.slider{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
  overflow: scroll;
}
.slideshow{
  position: relative;
}
.mainImg{
  transition: all 500ms;
}
.actions{
  position: absolute;
  top:50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}