.contact{
  background-color: rgb(238, 230, 248);
  display: flex;
  flex-direction: row;
}
form{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 150px;
  margin-top: 20px;


}
input{
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  border-radius: 3px;
  border: none;
  outline: none;
}
textarea{
  margin-top: 30px;
  border-radius: 5px;
}
.btn{
  width: 150px;
  font-size: 20px;
  background-color: rgb(193, 172, 212);
  margin-left: 350px;
  margin-top: 15px;
}
.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}
.delete{
  padding: 2px;
  margin: 2px;
  height: 30px;
  width: 100px;
}
.comment{
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  border-bottom: 0.5px solid grey;
}
